.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

textarea {
  width: 97%;
  height: 200px; /* Hacer el textarea más grande */
  margin-bottom: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}